<div class="jumbotron text-center">
	<h1>Alteration</h1>

	<div class="form-group">
		<label>Comment:</label>
		<p>{{alteration.comment}}</p>
	</div>

	<div class="form-group well">
		<label>Name:</label>
		<div ng-switch="alteration.nameIs == alteration.nameWas">
			<div ng-switch-when="true">
				<p>{{alteration.nameIs}}</p>
			</div>
			<div ng-switch-default>
				<p>{{alteration.nameWas}}</p>
				<label>became</label>
				<p>{{alteration.nameIs}}</p>
			</div>
		</div>
	</div>

	<div class="form-group well">
		<label>Format:</label>
		<div ng-switch="alteration.formatIs == alteration.formatWas">
			<div ng-switch-when="true">
				<p>{{alteration.formatIs}}</p>
			</div>
			<div ng-switch-default>
				<p>{{alteration.formatWas}}</p>
				<label>became</label>
				<p>{{alteration.formatIs}}</p>
			</div>
		</div>
	</div>

	<div class="form-group well">
		<label>Colors:</label>
		<div
			ng-switch="alteration.colorPatternIs == alteration.colorPatternWas">
			<div ng-switch-when="true">
				<table class="center">
					<tr>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.blackIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="black" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.whiteIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="white" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.redIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="red" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.greenIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="green" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.blueIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="blue" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.colorlessIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="colorless" /></svg></td>
					</tr>
				</table>
			</div>
			<div ng-switch-default>
				<table class="center">
					<tr>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.blackWas">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="black" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.whiteWas">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="white" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.redWas">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="red" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.greenWas">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="green" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.blueWas">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="blue" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.colorlessWas">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="colorless" /></svg></td>
					</tr>
				</table>
				<label>became</label>
				<table class="center">
					<tr>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.blackIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="black" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.whiteIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="white" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.redIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="red" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.greenIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="green" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.blueIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="blue" /></svg></td>
						<td><svg viewBox="0 0 100 100" class="mana-image"
								ng-show="alteration.colorlessIs">
					<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="colorless" /></svg></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="form-group well">
		<label>Theme:</label>
		<div ng-switch="alteration.themeIs == alteration.themeWas">
			<div ng-switch-when="true">
				<p>{{alteration.themeIs}}</p>
			</div>
			<div ng-switch-default>
				<p>{{alteration.themeWas}}</p>
				<label>became</label>
				<p>{{alteration.themeIs}}</p>
			</div>
		</div>
	</div>

	<p>{{ result }}</p>
</div>