<div class="tile header w-full">
	Alteration
</div>
<div class="tile w-full">
	{{alteration.comment}}
</div>

<div class="inline-tile-wrapper" ng-show="alteration.nameIs != alteration.nameWas">
	<div class="tile header w-full">
		Name
	</div>
	<div class="tile w-5-12">
		{{alteration.nameWas}}
	</div>
	<div class="tile">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
			<polygon points="50,50 300,50 450,250 300,450 50,450" /> Became
		</svg>
	</div>
	<div class="tile w-5-12">
		{{alteration.nameIs}}
	</div>
</div>

<div class="inline-tile-wrapper" ng-show="alteration.formatIs != alteration.formatWas">
	<div class="tile header w-full">
		Format
	</div>
	<div class="tile w-5-12">
		{{alteration.formatWas}}
	</div>
	<div class="tile">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
			<polygon points="50,50 300,50 450,250 300,450 50,450" /> Became
		</svg>
	</div>
	<div class="tile w-5-12">
		{{alteration.formatIs}}
	</div>
</div>

<div class="inline-tile-wrapper" ng-show="alteration.themeIs != alteration.themeWas">
	<div class="tile header w-full">
		Theme
	</div>
	<div class="tile w-5-12">
		{{alteration.themeWas}}
	</div>
	<div class="tile">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
			<polygon points="50,50 300,50 450,250 300,450 50,450" /> Became
		</svg>
	</div>
	<div class="tile w-5-12">
		{{alteration.themeIs}}
	</div>
</div>

<div class="inline-tile-wrapper" ng-show="alteration.colorPatternIs != alteration.colorPatternWas">
	<div class="tile header w-full">
		Colors
	</div>
	<div class="tile" ng-show="alteration.blackWas">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="black" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.whiteWas">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="white" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.redWas">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="red" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.greenWas">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="green" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.blueWas">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="blue" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.colorlessWas">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="#444" />
		</svg>
	</div>
	<div class="tile">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
			<polygon points="50,50 300,50 450,250 300,450 50,450" /> Became
		</svg>
	</div>
	<div class="tile" ng-show="alteration.blackIs">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="black" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.whiteIs">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="white" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.redIs">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="red" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.greenIs">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="green" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.blueIs">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="blue" />
		</svg>
	</div>
	<div class="tile" ng-show="alteration.colorlessIs">
		<svg viewBox="0 0 100 100">
			<circle cx="50" cy="50" r="40" fill="#444" />
		</svg>
	</div>
</div>

<p class='debug-text'>Result: {{ result }}</p>