<div class="jumbotron text-center">
	<h1>Confirm Game</h1>

	<div class="form-group" ng-show="draw">
		<label>Draw:</label> <input type="checkbox" ng-model="draw" />
	</div>

	<ol class="list-group">
		<li ng-repeat="participant in participants | orderBy:participant.play.place" class="list-group-item row">
			<div>
				<h3>{{ participant.player.name }}</h3>
				<p>{{ participant.deck.name }}</p>
				<table class="center">
					<tr>
						<th>
							<div ng-switch="participant.deck.black">
								<div ng-switch-when="true">
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
											fill="black" />
									
						
								</div>
								<div ng-switch-default>
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
											stroke-width="4" fill="lightgray" />
									
						
								</div>
							</div>
						</th>
						<th>
							<div ng-switch="participant.deck.white">
								<div ng-switch-when="true">
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
											fill="white" />
									
						
								</div>
								<div ng-switch-default>
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
											stroke-width="4" fill="lightgray" />
									
						
								</div>
							</div>
						</th>
						<th>
							<div ng-switch="participant.deck.red">
								<div ng-switch-when="true">
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
											fill="red" />
									
						
								</div>
								<div ng-switch-default>
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
											stroke-width="4" fill="lightgray" />
									
						
								</div>
							</div>
						</th>
						<th>
							<div ng-switch="participant.deck.green">
								<div ng-switch-when="true">
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
											fill="green" />
									
						
								</div>
								<div ng-switch-default>
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
											stroke-width="4" fill="lightgray" />
									
						
								</div>
							</div>
						</th>
						<th>
							<div ng-switch="participant.deck.blue">
								<div ng-switch-when="true">
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
											fill="blue" />
									
						
								</div>
								<div ng-switch-default>
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
											stroke-width="4" fill="lightgray" />
									
						
								</div>
							</div>
						</th>
						<th>
							<div ng-switch="participant.deck.colorless">
								<div ng-switch-when="true">
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
											fill="colorless" />
									
						
								</div>
								<div ng-switch-default>
									<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
											stroke-width="4" fill="lightgray" />
									
						
								</div>
							</div>
						</th>
					</tr>
				</table>
				<p>{{ participant.play.comment }}</p>
				<div class="form-group col-sm-6">
					<label>Positive</label>
					<input ng-model="participant.tag.positive" type="text" class="form-control">
					<button class="btn btn-primary btn-add positive" type="button" ng-click="addTag(participant)">Add tag</button>
					<p class="positive spaced base-wide center" ng-repeat="tag in participant.tags | postiveTags">{{ tag }}</p>
				</div>
				<div class="form-group col-sm-6">
					<label>Negative</label>
					<input ng-model="participant.tag.negative" type="text" class="form-control">
					<button class="btn btn-primary btn-add negative" type="button" ng-click="addTag(participant)">Add tag</button>
					<p class="negative spaced base-wide center" ng-repeat="tag in participant.tags | negativeTags">{{ tag }}</p>
				</div>				
			</div>
		</li>
	</ol>
	
	<div class="form-group">
		<label>Comment:</label> 
		<input ng-model="comment" type="text" class="form-control" autofocus>
	</div>
	
	<button class="btn btn-primary positive" ng-click="confirm(true)">Confirm</button>
	<button class="btn btn-primary negative" ng-click="confirm(false)">Reject</button>

</div>

<p class='debug-text'>Result: {{ result }}</p>