<div class="mss-column">
	<h1 class="tile tile-sh tile-lw tile-neutral-medium text">Add deck</h1>

	<form class="mss-column" ng-submit="addDeck()">
		<div class="tile tile-sh tile-msw input mss-column tile-neutral-dark">
			<label class="text text-s" for="name">Name:</label>
			<input class="tile-mw" ng-model="deck.name" type="text" autofocus>
		</div>
		<div class="tile tile-sh tile-msw input mss-column tile-neutral-dark">
			<label class="text text-s" for="format">Format:</label>
			<select class="tile-mw" ng-options="format for format in formats" ng-model="deck.format"></select>
		</div>
		<div class="tile tile-lw tile-neutral-dark mss-column" ng-show="colormode == 'Simple'">
			<label class="text text-s">Colors:</label>
			<div class="container mss-row wrap">
				<div class="tile tile-sh tile-sw mss-column tile-mana-black">
					<div class="text text-s">Black</div>
					<input class="inline-checkbox" type="checkbox" ng-model="deck.blackCards">
				</div>				
				<div class="tile tile-sh tile-sw mss-column tile-mana-white">
					<div class="text text-s">White</div>
					<input class="inline-checkbox" type="checkbox" ng-model="deck.whiteCards">
				</div>			
				<div class="tile tile-sh tile-sw mss-column tile-mana-red">
					<div class="text text-s">Red</div>
					<input class="inline-checkbox" type="checkbox" ng-model="deck.redCards">
				</div>
				<div class="tile tile-sh tile-sw mss-column tile-mana-green">
					<div class="text text-s">Green</div>
					<input class="inline-checkbox" type="checkbox" ng-model="deck.greenCards">
				</div>
				<div class="tile tile-sh tile-sw mss-column tile-mana-blue">
					<div class="text text-s">Blue</div>
					<input class="inline-checkbox" type="checkbox" ng-model="deck.blueCards">
				</div>
				<div class="tile tile-sh tile-sw mss-column tile-mana-colorless">
					<div class="text text-s">Colorless</div>
					<input class="inline-checkbox" type="checkbox" ng-model="deck.colorlessCards">
				</div>
			</div>
			<span class="text text-s" ng-click="toggleColor()">...</span>
		</div>
		<div ng-show="colormode == 'Advanced'">
			<label class="text text-s" class="block">Colors:</label>
			<span class="glyphicon glyphicon-option-horizontal" ng-click="toggleColor()"></span>
			<div>
				<div class="colorframed black-frame cardbox">
					<input type="number" ng-model="deck.blackCards" placeholder="Cards">
					<input type="number" ng-model="deck.blackLands" placeholder="Lands">
				</div>

				<div class="colorframed white-frame cardbox">
					<input type="number" ng-model="deck.whiteCards" placeholder="Cards">
					<input type="number" ng-model="deck.whiteLands" placeholder="Lands">
				</div>

				<div class="colorframed red-frame cardbox">
					<input type="number" ng-model="deck.redCards" placeholder="Cards">
					<input type="number" ng-model="deck.redLands" placeholder="Lands">
				</div>

				<div class="colorframed green-frame cardbox">
					<input type="number" ng-model="deck.greenCards" placeholder="Cards">
					<input type="number" ng-model="deck.greenLands" placeholder="Lands">
				</div>

				<div class="colorframed blue-frame cardbox">
					<input type="number" ng-model="deck.blueCards" placeholder="Cards">
					<input type="number" ng-model="deck.blueLands" placeholder="Lands">
				</div>

				<div class="colorframed colorless-frame cardbox">
					<input type="number" ng-model="deck.colorlessCards" placeholder="Cards">
					<input type="number" ng-model="deck.colorlessLands" placeholder="Lands">
				</div>
			</div>
		</div>
		<div class="tile tile-msw input mss-column tile-neutral-dark">
			<label class="text text-s" for="theme">Theme:</label>
			<input  class="tile-mw" type="text" ng-model="deck.theme"> <!-- TODO multiline -->
		</div>
		<button class="tile tile-sh tile-positive" type="submit">Add Deck</button>
	</form>
</div>

<p class='debug-text'>Result: {{ result }}</p>