<div class="jumbotron text-center">
	<h1>Add deck</h1>

	<form ng-submit="addDeck()">
		<div class="form-group">
			<label for="name">Name:</label> 
			<input ng-model="deck.name" type="text" class="form-control" autofocus>
		</div>
		<div class="form-group">
			<label for="format">Format:</label> 
			<select ng-options="format for format in formats" ng-model="deck.format" class="form-control"></select>
		</div>
		<div class=".checkbox-inline">
			<label class="checkbox-label colorframed black-frame"><input class="inline-checkbox" type="checkbox" ng-model="deck.blackCards"><span>Black</span></label>
			<label class="checkbox-label colorframed white-frame"><input class="inline-checkbox" type="checkbox" ng-model="deck.whiteCards">White</label>
			<label class="checkbox-label colorframed red-frame"><input class="inline-checkbox" type="checkbox" ng-model="deck.redCards">Red</label>
			<label class="checkbox-label colorframed green-frame"><input class="inline-checkbox" type="checkbox" ng-model="deck.greenCards">Green</label>
			<label class="checkbox-label colorframed blue-frame"><input class="inline-checkbox" type="checkbox" ng-model="deck.blueCards">Blue</label>
			<label class="checkbox-label colorframed colorless-frame"><input class="inline-checkbox" type="checkbox" ng-model="deck.colorlessCards">Colorless</label>
		</div>
		<div class="form-group">
			<label for="theme">Theme:</label> 
			<input type="text" class="form-control" ng-model="deck.theme">
		</div>
		<button class="btn btn-primary" type="submit">Add Deck</button>
	</form>
</div>

<p class='debug-text'>Result: {{ result }}</p>