<div class="jumbotron text-center">
	<h1>Add Game</h1>

	<div class="form-group">
		<label>Comment:</label> 
		<input ng-model="comment" type="text" class="form-control" autofocus>
	</div>
		
	<form ng-submit="addParticipant()" class="well">
		<div class="form-group">
			<label>Opponent:</label> 
			<select ng-options="opponent.playername for opponent in opponents" ng-model="addOpponent" class="form-control" ng-change="getOpponentDecks()"></select>
		</div>
		
		<div class="form-group">
			<label>Opponent deck:</label> 
			<select ng-options="deck.name for deck in decks" ng-model="addDeck" class="form-control"></select>
		</div>
		
		<button type="submit">Add to game</button>
	</form>
	
	<div class="well">
		<h3>{{ player.playername }}</h3>
		<button type="button" ng-click="addSelf()">Add to game</button>
	</div>
	
	<div class="form-group">
		<label>Draw:</label> 
		<input type="checkbox" ng-model="draw" />
	</div>
		
	<ol class="list-group">
		<li ng-repeat="participant in participants | orderBy:participant.place" class="list-group-item">
			<div>
  				<h3>{{ participant.playerName }}</h3>
  				<p>{{ participant.deckName }}</p>
  			</div>
		</li>
	</ol>
	
	<button type="button" ng-click="addGame()">Create game</button>
	<p>{{ result }}</p>
	
</div>