<div class="jumbotron text-center">

	<h1>Welcome {{ playername }}</h1>
	<p>{{ result }}</p>

	<div class="container">
		<div class="row">
			<form class="col-sm-4">
				<button class="btn-block" ng-click="goAddDeck()">
					<h2>Add Deck</h2>
					<p>Add a deck to your collection.</p>
				</button>
			</form>
			<form class="col-sm-4">
				<button class="btn-block" ng-click="goDeckList()">
					<h2>View Decks</h2>
					<p>Look at all your decks.</p>
				</button>
			</form>
			<form class="col-sm-4">
				<button class="btn-block">
					<h2>Confirm Games</h2>
					<p>Confirm games played against your decks.</p>
				</button>
			</form>
		</div>
	</div>
</div>