
<div class="jumbotron text-center">

	<div class="container-fluid text-center">
		<div class="row content">

			<div class="col-sm-4"></div>

			<div class="col-sm-4">
				<!--Signup-->
				<h1 id="title">Welcome</h1>

				<form ng-submit="signup()">

					<div class="form-group">
						<label for="idUsername">Username (email):</label> 
						<input id="idUsername" ng-model="username" type="email" class="form-control" autofocus>
						<label for="idPassword1">Password:</label> 
						<input id="idPassword1" ng-model="password1" type="password" class="form-control">
						<label for="idPassword2">Retype password:</label> 
						<input id="idPassword2" ng-model="password2" type="password" class="form-control">
						<label for="idPlayerName">Public name:</label> 
						<input id="idPlayerName" ng-model="playername" class="form-control">
					</div>

					<button type="submit">Signup!</button>
					
					<p>{{ result }}</p>
				</form>
			</div>

			<div class="col-sm-4"></div>

		</div>
	</div>
</div>