<div class="jumbotron text-center">
	<h1>Add Game</h1>

	<div class="list-group-item" ng-hide="selfAdded">
		<h3>{{ player.playername }}</h3>
		<label>Comment:</label> 
		<input ng-model="comment" type="text" class="form-control">
		
		<div>
			<label>Rating: </label><span class="glyphicon glyphicon-option-horizontal" ng-click="toggleRatingSystem()"></span>
			<div ng-show="ratingSystem == 'General'">
				<label>Rating: </label>
				<button class="rating-star" ng-click="rate('general',1)">
					<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (generalRating() >= 1), 'glyphicon-star-empty': (generalRating() < 1)}"></span>
				</button>
				<button class="rating-star" ng-click="rate('general',2)" >
					<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (generalRating() >= 2), 'glyphicon-star-empty': (generalRating() < 2)}"></span>
				</button>
				<button class="rating-star" ng-click="rate('general',3)">
					<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (generalRating() >= 3), 'glyphicon-star-empty': (generalRating() < 3)}"></span>
				</button>
				<button class="rating-star" ng-click="rate('general',4)">
					<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (generalRating() >= 4), 'glyphicon-star-empty': (generalRating() < 4)}"></span>
				</button>
				<button class="rating-star" ng-click="rate('general',5)">
					<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (generalRating() >= 5), 'glyphicon-star-empty': (generalRating() < 5)}"></span>
				</button>
			</div>
			<div ng-show="ratingSystem == 'SSSC'">
				<div>
					<label>Speed: </label>
					<button class="rating-star" ng-click="rate('speed',1)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[0] >= 1), 'glyphicon-star-empty': (rating[0] < 1)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('speed',2)" >
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[0] >= 2), 'glyphicon-star-empty': (rating[0] < 2)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('speed',3)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[0] >= 3), 'glyphicon-star-empty': (rating[0] < 3)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('speed',4)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[0] >= 4), 'glyphicon-star-empty': (rating[0] < 4)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('speed',5)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[0] >= 5), 'glyphicon-star-empty': (rating[0] < 5)}"></span>
					</button>
				</div>
				<div>
					<label>Strength: </label>
					<button class="rating-star" ng-click="rate('strength',1)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[1] >= 1), 'glyphicon-star-empty': (rating[1] < 1)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('strength',2)" >
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[1] >= 2), 'glyphicon-star-empty': (rating[1] < 2)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('strength',3)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[1] >= 3), 'glyphicon-star-empty': (rating[1] < 3)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('strength',4)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[1] >= 4), 'glyphicon-star-empty': (rating[1] < 4)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('strength',5)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[1] >= 5), 'glyphicon-star-empty': (rating[1] < 5)}"></span>
					</button>
				</div>
				<div>
					<label>Synergy: </label>
					<button class="rating-star" ng-click="rate('synergy',1)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[2] >= 1), 'glyphicon-star-empty': (rating[2] < 1)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('synergy',2)" >
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[2] >= 2), 'glyphicon-star-empty': (rating[2] < 2)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('synergy',3)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[2] >= 3), 'glyphicon-star-empty': (rating[2] < 3)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('synergy',4)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[2] >= 4), 'glyphicon-star-empty': (rating[2] < 4)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('synergy',5)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[2] >= 5), 'glyphicon-star-empty': (rating[2] < 5)}"></span>
					</button>
				</div>
				<div>
					<label>Control: </label>
					<button class="rating-star" ng-click="rate('control',1)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[3] >= 1), 'glyphicon-star-empty': (rating[3] < 1)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('control',2)" >
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[3] >= 2), 'glyphicon-star-empty': (rating[3] < 2)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('control',3)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[3] >= 3), 'glyphicon-star-empty': (rating[3] < 3)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('control',4)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[3] >= 4), 'glyphicon-star-empty': (rating[3] < 4)}"></span>
					</button>
					<button class="rating-star" ng-click="rate('control',5)">
						<span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-star': (rating[3] >= 5), 'glyphicon-star-empty': (rating[3] < 5)}"></span>
					</button>
				</div>		
			</div>
		</div>
		
		<button type="button" class="btn btn-primary btn-add" ng-click="addSelf()">Add to game</button>
	</div>

	<form ng-submit="addParticipant()" class="list-group-item" ng-hide="addState == 'Search'">
		<div class="form-group">
			<label>Opponent:</label>
			<select ng-options="opponent.name for opponent in opponents" ng-model="opponentToAdd" class="form-control" ng-change="getOpponentDecks()"></select>
			<button type="button" class="btn btn-primary btn-add" ng-click="toggleSearch()">
				 <span class="glyphicon glyphicon-search"></span>
			</button>
			<button type="button" class="btn btn-primary btn-add" ng-click="toggleAddPlayer()">
				 <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<div class="form-group" id="idNewPlayer" ng-show="addState == 'Player'">
			<label>Name:</label><input ng-model="newPlayer.name" type="text" class="form-control">
			<button type="button" class="btn btn-primary btn-add" ng-click="addMinion()">
				 <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<div class="form-group">
			<label>Opponent deck:</label> <select ng-options="deck.name for deck in decks" ng-model="addDeck" class="form-control"></select>
			<button type="button" class="btn btn-primary btn-add" ng-show="opponentIsMinion()" ng-click="toggleAddMinionDeck()">
				 <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<div class="form-group" id="idNewDeck" ng-show="addState == 'Deck'">
			<label>Name:</label><input ng-model="newDeck.name" type="text" class="form-control">
			<div class="form-group">
				<label for="format">Format:</label>
				<select ng-options="format for format in formats" ng-model="newDeck.format" class="form-control"></select>
			</div>
			<div class=".checkbox-inline">
				<label class="checkbox-label colorframed black-frame"><input class="inline-checkbox" type="checkbox" ng-model="newDeck.blackCards"><span>Black</span></label>
				<label class="checkbox-label colorframed white-frame"><input class="inline-checkbox" type="checkbox" ng-model="newDeck.whiteCards">White</label>
				<label class="checkbox-label colorframed red-frame"><input class="inline-checkbox" type="checkbox" ng-model="newDeck.redCards">Red</label>
				<label class="checkbox-label colorframed green-frame"><input class="inline-checkbox" type="checkbox" ng-model="newDeck.greenCards">Green</label>
				<label class="checkbox-label colorframed blue-frame"><input class="inline-checkbox" type="checkbox" ng-model="newDeck.blueCards">Blue</label>
				<label class="checkbox-label colorframed colorless-frame"><input class="inline-checkbox" type="checkbox" ng-model="newDeck.colorlessCards">Colorless</label>
			</div>
			<label>Theme:</label><input ng-model="newDeck.theme" type="text" class="form-control">
			<button type="button" class="btn btn-primary btn-add" ng-click="addMinionDeck()">
				 <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<button type="submit" class="btn btn-primary btn-add">Add to game</button>
	</form>

	<div class="list-group-item" ng-show="addState == 'Search'">
		
		<label>Player name:</label><input ng-model="searchName" type="text" class="form-control">

		<ul class="list-group">
			<li ng-repeat="match in allPlayers | filter:searchName | limitTo:5" class="list-group-item" ng-click="addToOpponents(match)">{{match.name}}
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</li>
		</ul>
	</div>

	<div class="form-group">
		<label>
			<input type="checkbox" class="inline-checkbox" ng-model="draw" /> Draw
		</label>
	</div>

	<ol class="list-group">
		<li ng-repeat="participant in participants | orderBy:participant.place" class="list-group-item row">
			<div>
				<h3>{{ participant.place }} {{ participant.playerName }}</h3>
				<p>{{ participant.deckName }}</p>
				<div class="form-group col-sm-6">
					<label>Positive</label>
					<input ng-model="participant.tag.positive" type="text" class="form-control">
					<button class="btn btn-primary btn-add positive" type="button" ng-click="addTag(participant)">Add tag</button>
					<p class="positive list-item base-wide center" ng-repeat="tag in participant.tags | postiveTags">{{ tag }}</p>
				</div>
				<div class="form-group col-sm-6">
					<label>Negative</label>
					<input ng-model="participant.tag.negative" type="text" class="form-control">
					<button class="btn btn-primary btn-add negative" type="button" ng-click="addTag(participant)">Add tag</button>
					<p class="negative base-wide center" ng-repeat="tag in participant.tags | negativeTags">{{ tag }}</p>
				</div>
			</div>
		</li>
	</ol>

	<p>{{ }}</p>
	<button type="button" class="btn btn-primary" ng-click="addGame()" ng-disabled="participants.length < 2">Create game</button>

</div>

<p class='debug-text'>Result: {{ result }}</p>