<div class="alert alert-danger fade in" ng-show="showDelete">
	<strong>Warning!</strong> Do you really want to delete this deck?
	<button data-dismiss="alert" ng-click="deleteDeck()">Yes,
		delete</button>
	<button data-dismiss="alert" ng-click="toggleDeleteDialog()">No,
		keep</button>
</div>

<div class="gap">

	<div class="includer">
		<span class="glyphicon glyphicon-trash top-right" ng-click="showDeleteDialog()"></span>
	</div>

	<label for="name">Name:</label>
	<p>{{ deck.name }}</p>
	<label for="name">Format:</label>
	<p>{{ deck.format }}</p>
	<label for="name">Colors:</label>
	<div>
		<table class="center">
			<tr>
				<th>
					<div ng-switch="deck.blackCards > 0">
						<div ng-switch-when="true">
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="black" />
									
						
						</div>
						<div ng-switch-default>
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
									stroke-width="4" fill="lightgray" />
									
						
						</div>
					</div>
				</th>
				<th>
					<div ng-switch="deck.whiteCards > 0">
						<div ng-switch-when="true">
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="white" />
									
						
						</div>
						<div ng-switch-default>
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
									stroke-width="4" fill="lightgray" />
									
						
						</div>
					</div>
				</th>
				<th>
					<div ng-switch="deck.redCards > 0">
						<div ng-switch-when="true">
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="red" />
									
						
						</div>
						<div ng-switch-default>
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
									stroke-width="4" fill="lightgray" />
									
						
						</div>
					</div>
				</th>
				<th>
					<div ng-switch="deck.greenCards > 0">
						<div ng-switch-when="true">
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="green" />
									
						
						</div>
						<div ng-switch-default>
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
									stroke-width="4" fill="lightgray" />
									
						
						</div>
					</div>
				</th>
				<th>
					<div ng-switch="deck.blueCards > 0">
						<div ng-switch-when="true">
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="blue" />
									
						
						</div>
						<div ng-switch-default>
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
									stroke-width="4" fill="lightgray" />
									
						
						</div>
					</div>
				</th>
				<th>
					<div ng-switch="deck.colorlessCards > 0">
						<div ng-switch-when="true">
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="gray" stroke-width="4"
									fill="colorless" />
									
						
						</div>
						<div ng-switch-default>
							<svg viewBox="0 0 100 100" class="mana-image">
											<circle cx="50" cy="50" r="40" stroke="lightgray"
									stroke-width="4" fill="lightgray" />
									
						
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>

	<label for="name">Theme:</label>
	<p>{{ deck.theme }}</p>
	<label for="name">Created:</label>
	<p>{{ deck.created }}</p>
	<label for="name">
		<input type="checkbox" class="inline-checkbox" ng-model="deck.active" ng-click="toggleActive()"> Active
	</label>
</div>