<div class="tile inner-tiled">
	<span class="tile h-50 w-full sub-title">Format</span>
	<span class="tile h-50 w-full">{{ deck.format }}</span>
</div>
<div class="tile inner-tiled">
	<span class="tile h-50 w-full sub-title">Created</span>
	<span class="tile h-50 w-full">{{ deck.created }}</span>
</div>
<div class="tile inner-tiled w-1-2">
	<span class="tile h-50 w-full sub-title">Theme</span>
	<span class="tile h-50 w-full">{{ deck.theme }}</span>
</div>

<div class="tile header w-full">
	Colors
</div>
<div class="tile black" ng-show="deck.blackCards > 0"></div>
<div class="tile white" ng-show="deck.whiteCards > 0"></div>
<div class="tile red" ng-show="deck.redCards > 0"></div>
<div class="tile green" ng-show="deck.greenCards > 0"></div>
<div class="tile blue" ng-show="deck.blueCards > 0"></div>
<div class="tile colorless" ng-show="deck.colorlessCards > 0"></div>

<div class="tile header w-full">
	Options
</div>

<div ng-include="'components/help/help.html'" ng-controller="helpController" ng-init="help_initController(
	'viewdeck_options',
	'Active is used for various sorting options. Press to toggle'
	)" ng-if="settings.help" ng-show="settings.help.sections.viewdeck_options" ng-click="settings.help.sections.viewdeck_options=false" class="include-tiled helper animate-show-hide">
</div>

<div class="tile inner-tiled" ng-click="toggleActive()">
	<span class="h-50 tile w-full sub-title">Active</span>
	<span class="h-50 tile w-full">{{ deck.active }}</span>
</div>
<div class="tile inner-tiled" ng-click="showDeleteDialog()" ng-show="!showDelete">
	<span class="tile h-50 w-full sub-title">Delete</span>
</div>
<div class="tile inner-tiled w-1-3 alert" ng-show="showDelete">
	<span class="tile h-50 w-full"><strong>Warning!</strong> Delete this deck?</span>
	<button class="tile h-half w-1-2 positive" ng-click="deleteDeck()">Yes</button>
	<button class="tile h-half w-1-2 negative" ng-click="toggleDeleteDialog()">No</button>
</div>