<div class="jumbotron jumbotron-full-width text-center">
	<h1>{{ deckname }}</h1>

	<ul class="nav nav-tabs jumbotron-tab-row">
		<li class="tab" ng-class="{ 'tab-active': isSet(1) }" ng-click="setTab(1)">
			Info
		</li>
		<li class="tab" ng-class="{ 'tab-active': isSet(2) }" ng-click="setTab(2)">
			Games
		</li>
		<li class="tab" ng-class="{ 'tab-active': isSet(3) }" ng-click="setTab(3)">
			Stats
		</li>
		<li class="tab" ng-class="{ 'tab-active': isSet(4) }" ng-click="setTab(4)">
			Alterations
		</li>
	</ul>

	<ng-include src="'components/viewdeck/deck.htm'" onload="getDeck()" ng-show="isSet(1)"></ng-include>

	<ng-include src="'components/viewdeck/games.htm'" onload="getGames()" ng-show="isSet(2)"></ng-include>
	
	<ng-include src="'components/viewdeck/deckstats.htm'" onload="getStats()" ng-show="isSet(3)"></ng-include>

	<ng-include src="'components/viewdeck/alterations.htm'" onload="getAlterations()" ng-show="isSet(4)"></ng-include>

</div>

<p class='debug-text'>Result: {{ result }}</p>