<div class="jumbotron text-center">
	<h1>Deck {{ deckname }}</h1>

	<p>{{ result }}</p>
</div>

<div class="container-fluid text-center">
	<div class="row content">
		<div class="col-sm-2"></div>

		<div class="col-sm-8 text-left">


			<ul class="nav nav-tabs">
				<li ng-class="{ active: isSet(1) }">
					<button ng-click="setTab(1)">Info</button>
				</li>
				<li ng-class="{ active: isSet(2) }">
					<button ng-click="setTab(2)">Games</button>
					<span class="glyphicon glyphicon-plus" ng-click="goAddGame()"></span>
				</li>
				<li ng-class="{ active: isSet(3) }">
					<button ng-click="setTab(3)">Stats</button>
				</li>
				<li ng-class="{ active: isSet(4) }">
					<button ng-click="setTab(4)">Alterations</button>
					<span class="glyphicon glyphicon-pencil" ng-click="goAlter()"></span>
				</li>
			</ul>

			<ng-include src="'components/viewdeck/deck.htm'" onload="getDeck()" ng-show="isSet(1)"></ng-include>
			
			<ng-include src="'components/viewdeck/games.htm'" onload="getGames()" ng-show="isSet(2)"></ng-include>

			<ng-include src="'components/viewdeck/alterations.htm'" onload="getAlterations()" ng-show="isSet(4)"></ng-include>

		</div>

		<div class="col-sm-2"></div>
	</div>
</div>