<div class="tiled mss-column">
	<div class="mss-row">
		<form ng-show="liveGame != 'none'">
			<button class="tile tile-lh tile-lw tile-neutral-dark" ng-click="goToGame()">
				<h2>To live game</h2>
			</button>
		</form>
		<form ng-show="liveGame == 'none'">
			<button class="tile tile-lh tile-lw tile-neutral-dark" ng-click="goStartGame()">
				<h2>Start new game</h2>
			</button>
		</form>
		<form ng-show="liveGame == 'none'">
			<button class="tile tile-lh tile-lw tile-neutral-dark" ng-click="goJoinGame()">
				<h2>Join game</h2>
			</button>
		</form>
		<form>
			<button class="tile tile-lh tile-lw tile-neutral-dark" ng-click="goAddDeck()">
				<h2>Add Deck</h2>
			</button>
		</form>
		<form>
			<button class="tile tile-lh tile-lw tile-neutral-dark" ng-click="goDeckList()">
				<h2>View Decks</h2>
			</button>
		</form>
	</div>
</div>

<p class='debug-text'>Logged in as: {{ playername }}</p>
<p class='debug-text'>Result: {{ result }}</p>