<div class="jumbotron text-center">

	<h1>Welcome {{ playername }}</h1>

	<div class="container">
		<div class="row">
			<form class="col-sm-4" ng-show="liveGame != 'none'">
				<button class="btn btn-block btn-primary" ng-click="goToGame()">
					<h2>To live game</h2>
				</button>
			</form>
			<form class="col-sm-4" ng-show="liveGame == 'none'">
				<button class="btn btn-block btn-primary" ng-click="goStartGame()">
					<h2>Start new game</h2>
				</button>
			</form>
			<form class="col-sm-4" ng-show="liveGame == 'none'">
				<button class="btn btn-block btn-primary" ng-click="goJoinGame()">
					<h2>Join game</h2>
				</button>
			</form>
			<form class="col-sm-4">
				<button class="btn btn-block btn-primary" ng-click="goAddDeck()">
					<h2>Add Deck</h2>
				</button>
			</form>
			<form class="col-sm-4">
				<button class="btn btn-block btn-primary" ng-click="goDeckList()">
					<h2>View Decks</h2>
				</button>
			</form>
		</div>
	</div>
</div>

<p class='debug-text'>Result: {{ result }}</p>