<div ng-include="'components/help/help.html'" ng-controller="helpController" ng-init="help_initController(
	settings.helps.dashboard,
	'Welcome to Magirator. To dismiss help press the x. To reenable them visit settings.'
	)" ng-if="settings.help" ng-show="settings.help.dashboard" class="include-tiled helper">
</div>

<div class="tile q1-3" ng-show="liveGame != 'none'" ng-click="goToGame()">
	To game
</div>
<div class="tile q1-3" ng-show="liveGame == 'none'" ng-click="goStartGame()">
	New game
</div>
<div class="tile q1-3" ng-show="liveGame == 'none'" ng-click="goJoinGame()">
	Join game
</div>
<div class="tile q1-3" ng-click="goAddDeck()">
	Add Deck
</div>
<div class="tile q1-3" ng-click="goDeckList()">
	View Decks
</div>
<div class="tile q1-3" ng-click="goStats()">
	View Stats
</div>

<p class='tile debug-text'>Result: {{ result }}</p>