<div class="inline-tile-wrapper w-full">
	<div class="tile header w-11-12">
		With
	</div>
	<div class="tile h-half w-1-12" ng-init="color_details = false" ng-click="new_with = !new_with">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" ng-show="!new_with">
			<polygon points="50,200 200,200 200,50 300,50 300,200 300,200 450,200 450,300 300,300 300,450 200,450 200,300 50,300" /> Extend graph type
		</svg>
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" ng-show="new_with">
			<polygon points="50,200 450,200 450,300 50,300" /> Fold graph type
		</svg>
	</div>
	<div ng-show="new_with" class="tile h-half w-11-12">
		<select 
			class="tile w-less-than-half" 
			ng-options="option for option in with_options" 
			ng-model="with_option"
		>
			<option value="" disabled selected>With</option>
		</select>
		<select 
			class="tile w-less-than-half" 
			ng-options="format for format in formats" 
			ng-model="with_format"
			ng-show="with_option == 'Format'"
		>
			<option value="" disabled selected>Format</option>
		</select>
		<select 
			class="tile w-less-than-half" 
			ng-options="color for color in colors" 
			ng-model="with_color"
			ng-show="with_option == 'Color'"
		>
			<option value="" disabled selected>Color</option>
		</select>
	</div>
	<div class="tile h-half w-1-12"  ng-show="new_with" ng-click="addWith()">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" ng-show="new_with">
			<polygon points="50,50 450,250 50,450" /> Fold graph type
		</svg>
	</div>
	<div ng-repeat="with in withs" class="tile h-half" ng-click="removeWith(with)">
		{{ with.what }}: {{ with.value }}
	</div>
	
	<div class="tile header w-11-12">
		Against
	</div>
	<div class="tile h-half w-1-12" ng-init="color_details = false" ng-click="new_against = !new_against">
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" ng-show="!new_against">
			<polygon points="50,200 200,200 200,50 300,50 300,200 300,200 450,200 450,300 300,300 300,450 200,450 200,300 50,300" /> Extend graph type
		</svg>
		<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" ng-show="new_against">
			<polygon points="50,200 450,200 450,300 50,300" /> Fold graph type
		</svg>
	</div>
</div>
<div class="inline-tile-wrapper w-full">
	<div class="tile w-full giant">
		{{winrate}}%
	</div>
	
	<div ng-repeat="game in selected_games | orderBy:'game.created'" class="tile inner-tiled" ng-class="{'bg-positive': game.place == 1, 'bg-negative': game.place != 1}" ng-click="goGame(game.id)">
		<span class="w-full sub-title"></span>
	</div>
</div>