<div class="tile h-half w-1-12" ng-click="sort = !sort">
	<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
		<polygon points="50,50 450,50 300,250 300,450 200,450 200,250" /> Sort
	</svg>
</div>
<div class="tile header w-11-12">
	Join game
</div>

<div ng-include="'components/help/help.html'" ng-controller="helpController" ng-init="help_initController(
	'joingame',
	'To join put the Game Id in the box below and then select one of your decks. You can filter the decks above.'
	)" ng-if="settings.help" ng-show="settings.help.sections.joingame" ng-click="settings.help.sections.joingame=false" class="include-tiled helper animate-show-hide">
</div>

<div class="tile inner-tiled w-1-3" ng-show="sort">
	<div class="tile h-50 w-3-4">
		Sort by
	</div>
	<div class="tile h-100 w-1-4" ng-click="order.reverse = !order.reverse">
		<div>
			<svg svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
				<polygon points="225,450 50,275 100,225 175,300 175,50 225,50" />
				<polygon points="275,50 450,225 400,275 325,200 325,450 275,450" /> Reverse
			</svg>
		</div>
	</div>

	<select class="tile h-half w-full" id="sorter" data-ng-model="order.field">
		<option value="winrate" selected>Winrate</option>
		<option value="name">Name</option>
		<option value="active">Active</option>
		<option value="format">Format</option>
		<option value="games">Games</option>
		<option value="created">Created</option>
		<option value="blackCards">Black</option>
		<option value="whiteCards">White</option>
		<option value="redCards">Red</option>
		<option value="greenCards">Green</option>
		<option value="blueCards">Blue</option>
		<option value="colorlessCards">Colorless</option>
		<option value="theme">Theme</option>
	</select>

</div>

<input type="text" class="tile" ng-model="live_id" placeholder="Game id" required>
	    <span class="error" ng-show="gameId.$error.required">Required!</span>

<div ng-repeat="deck in decks | orderBy:deckOrder:order.reverse" class="tile inner-tiled" ng-click="goWithDeck(deck.name, deck.id)">
	<span class="tile h-50 w-full sub-title">{{deck.name}}</span>
	<span class="tile h-50 w-full" ng-class="{'strong': deck.badge=='yes' || deck.badge>0}">{{ deck.badge }}</span>
</div>

<div class="tile w-full header negative" ng-show="result != '' && result != 'Success'">{{result}}</div>