<div class="tile w-full h-half header">Set new password</div>
<input class="tile h-half C-1-3" type="email" ng-model="username" placeholder="Username (email)" autofocus>
<input class="tile h-half C-1-3" type="text" ng-model="code" placeholder="Reset code">
<input class="tile h-half C-1-3" type="password" ng-model="code" placeholder="Password">
<input class="tile h-half C-1-3" type="password" ng-model="retype" placeholder="Retype password">
<div class="tile C-1-3" ng-click="reset()">Reset!</div>

<p class='debug-text'>Result: {{ result }}</p>