
<div class="jumbotron text-center">

	<h1 id="title">Set new password</h1>

	<form ng-submit="reset()">

		<div class="form-group">
			<label for="idUsername">Username (email):</label> 
			<input id="idUsername" ng-model="username" type="email" class="form-control" autofocus> 
			<label for="idCode">Reset code:</label> 
			<input id="idCode" ng-model="code" class="form-control">
			<label for="idPassword1">Password:</label>
			<input id="idPassword1" ng-model="password" type="password" class="form-control"> 
			<label for="idPassword2">Retype password:</label> 
			<input id="idPassword2" ng-model="retype" type="password" class="form-control"> 
		</div>

		<button class="btn btn-primary" type="submit">Reset!</button>
	</form>

	<div class="col-sm-4"></div>
</div>

<p class='debug-text'>Result: {{ result }}</p>