<div class="jumbotron text-center">
	<h1>Decklist</h1>
	
	<label for="sorter">Sort by:</label> 
	<select class="form-control" id="sorter" data-ng-model="order.field">
		<option value="winrate" selected>Winrate</option>
		<option value="name">Name</option>
		<option value="active">Active</option>
		<option value="format">Format</option>
		<option value="games">Games</option>
		<option value="created">Created</option>
		<option value="black">Black</option>
		<option value="white">White</option>
		<option value="red">Red</option>
		<option value="green">Green</option>
		<option value="blue">Blue</option>
		<option value="colorless">Colorless</option>
		<option value="theme">Theme</option>
	</select>
	
	<div class=".checkbox-inline">
		<label><input class="inline-checkbox" type="checkbox" data-ng-model="order.reverse"/>Reverse</label>
	</div>
	
	<ul class="list-group">
		<li ng-repeat="deck in decks | orderBy:deckOrder:order.reverse"
			class="list-group-item" ng-click="goDeck(deck.id)">{{deck.name}}
			<span class="badge" ng-class="{'badge-yes': deck.badge=='yes'}">{{ deck.badge }}</span>
		</li>
	</ul>
</div>

<p class='debug-text'>Result: {{ result }}</p>