/*Based on three standard sizes where 3x large + margin fit in one row*/
/*Large - 30vw + 1m */
/*Medium - 12vw + 1m => 15 => 2 can fit in the space of one large*/
/*Small - 6vw + 1m => 2 * 2 can fit in the space of one medium*/

/* -Setting- */
body {
    background-color: whitesmoke;
    margin: 0;
    font-family: sans-serif;
    color: #222;
}



/* -Content alignment- */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* -Rows- */
.row-spaced {
    display: flex;
    justify-content: space-between;
}

.row-start {
    display: flex;
    justify-content: flex-start;
}

.row-end {
    display: flex;
    justify-content: flex-end;
}

.row-center {
    display: flex;
    justify-content: center;
}



.list {
    /*TODO*/
}



/* -Tiles- */
/*Layout*/
.tiled {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Style*/
.tile {
    border-width: 0px;
    background-color: orangered;
    /*box-shadow: 0vw 0vw 0.5vw;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*Default medium size*/
    width: 15vw;
    height: 15vw;
    margin: 0.5vw;
}

/*Sizes*/
/*Width*/
/* Medium is default*/
.tile-lw {
    width: 31vw;
}

.tile-sw {
    width: 6vw;
}

.tile-fw {
    width: 93vw;
}

.tile-msw {
    width: 23vw;
}

/*Height*/
/* Medium is default*/
.tile-lh {
    height: 31vw;
}

.tile-sh {
    height: 6vw;
}

.tile-lmh {
    height: 46vw;
}

.tile-lsh {
    height: 38vw;
}



/*Containers*/
.container-h {
	height: calc(100% + 1vw);
}

.container-w {
	width: calc(100% + 1vw);
}



/*Text*/
.text {
    font-size: 2em;
    color: #222;
}

/*Sizes*/
/*Medium is default*/
.text-t {
    font-size: 0.5em;
}

.text-s {
    font-size: 1em;
}

.text-l {
    font-size: 4em;
}

@media screen and (max-width: 1000px) {

	.text {
	    font-size: 1.5em;
	}
	
	/*Sizes*/
	.text-t {
	    font-size: 0.4em;
	}
	
	.text-s {
	    font-size: 0.75em;
	}
	
	/* .text-m is default*/  
	
	.text-l {
	    font-size: 3em;
	}
}

@media screen and (max-width: 500px) {

	.text {
	    font-size: 1em;
	}
	
	/*Sizes*/
	.text-t {
	    font-size: 0.3em;
	}
	
	.text-s {
	    font-size: 0.5em;
	}
	
	/* .text-m is default*/  
	
	.text-l {
	    font-size: 2em;
	}
}


/*Flavors*/
.very-positive {
    background-color: limegreen;
}

.positive {
    background-color:springgreen;
}

.average {
    background-color: yellow;
}

.negative {
    background-color: orange;
}

.very-negative {
    background-color: red;
}

.neutral {
    background-color: lightgray;
}

.transparent {
    background-color: transparent;
}