/*Main*/
body {
    background-color: #171410;
    margin: 1.5vw;
    font-family: sans-serif;
    color: #222;
}

/*Universal*/
a {
	text-decoration-line: none;
}


/*Tile basics*/
.tiled {
	display: grid;
	grid-template-columns: repeat(6, 15vw);
	grid-gap: 1vw;
	margin: 1vw;
}

.tiled > div {
	background-color: #666;
	height: 15vw;
	padding: 1vw;
}

/*Tile exceptions*/
div .ha {
	height: auto;
}



.w2 {
	grid-column: span 2;
}

.wf {
	grid-column: span 6;
}