/*Main*/
body {
    background-color: #171410;
    margin: 1.5vw;
    font-family: sans-serif;
    color: linen;
}

/*Universal*/
a {
	text-decoration-line: none;
}

div, span, input, select {
	font-size: 4vmin;
}

input {
	border: 0;
}

input,select {
	background-color: #fff;
}

button {
	border: none;
}


/*Tile basics*/
.tiled {
	display: grid;
	grid-template-columns: repeat(12, 7vw);
	grid-gap: 1vw;
	margin: 1vw;
}

.tile {
	grid-column: span 3;
	height: 21vw;
	padding: 1vw;
	background-color: #666;
	color: linen;
	font-variant: small-caps;
}

input.tile,select.tile {
	padding: 0.75vw;
}

select.tile {
	border: none;
	height: auto;
	margin-bottom: 0.5vw;
}

input.tile {
	border: 0;
}

input.tile,select.tile {
	background-color: #fff;
	color: #444;
}

button.tile {
	border: none;
	background-color: #fff;
}


/*Tile variations*/
.header {
	background-color: #333;
    font-size: 4vmin;
	height: 9vw;
	grid-column: span 12;
	color: sandybrown;
}

.inner-tiled {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin: 0vw;
}

.include-tiled {
	display: grid;
	grid-template-columns: repeat(12, 7vw);
	grid-gap: 1vw;
	margin: 0vw;
}

.inline-tile-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1vw;
	margin: 0vw;
	grid-column: span 12;
	align-content: baseline;
}

.dual-wrapper {
	grid-template-columns: repeat(2, 1fr);
}

.free-flow {
	display: flex;
	flex-wrap: wrap;
}


/*Text*/
.title.logo {
    font-size: 8vmin;
}

.title {
	color: sandybrown;
}

.strong {
	color: #fff;
}

.large {
	font-size: 5vmin;
	font-weight: bold;
}

.larger {
	font-size: 10vmin;
	font-weight: bold;
}

.giant {
	font-size: 15vmin;
	font-weight: bold;
}

.help {
	background-color: #7a7;
    font-size: 3vmin;
	color: linen;
	fill: linen;
}

.text_icon {
	font-size: 10vmin;
	color: #222; 
}


/*Flavors*/
div.positive {
	color: #696;
}

div.neutral {
	color: #f1c83e;
}

div.negative {
	color: #e35454;
}

div.solid {
	color: #222;
}

div.bg-positive {
	background-color: #696;
}

div.bg-neutral {
	background-color: #f1c83e;
}

div.bg-negative {
	background-color: #966;
}

.dark {
	background-color: #444;
}

.black {
	background-color: #222;
}

.white {
	background-color: #ddd;
}

.red {
	background-color: #a77;
}

.green {
	background-color: #7a7;
}

.blue {
	background-color: #77a;
}

.colorless {
	background-color: #777;
}

.clickable {
	box-sizing: border-box;
    border: 0.5vw solid #333;
}


/*Visibility*/
.hidden {
	display: none;
}
  
.visible {
	display: inline;
}

.block {
	display: block;
}


/*States*/
.selected {	
	border: 0.5vmin solid sandybrown;
}

.not-selected {	
	border: 0.5vmin solid transparent;
}



/*Misc*/
svg.discrete {
	fill: #333;
    stroke: #000;
    stroke-width: 2vw;
}

svg.prominent {
	fill: sandybrown;
    stroke: #333;
    stroke-width: 2vw;
}

.svg-center-height {
	margin: 30% 0;
}

.helper {
	background-color: #7a7;
    font-size: 3vmin;
	height: 9vw;
	grid-column: span 12;
	color: linen;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}


.debug-text {
	grid-column: span 12;
	background-color: transparent;
}