/*Body*/
body{
	background: #fcfaf8;
}

p {
	border-radius: 5px;
}

/*General*/
.spaced {
	margin-top: 5px;
}

.gap {
	padding-top: 20px;
}

.center {
	margin: auto;
}

/*Navbar*/
.navbar{
	background-color: #333;
}

/*Content*/
.jumbotron{
	background-color: #f3f3f3;
	border: 2px solid;
	border-color: #333
}

.jumbotron-full-width {
	padding-left: 0px;
	border: 2px solid;
	border-color: #333
}

.jumbotron-tab-row {
	margin-left: -60px;
	margin-right: -60px;
    border-bottom: 1px solid;	
}

.tab {
	color: #333;
	cursor: default;
	background-color: #f3f3f3;
    border: 1px solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 12px 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tab-active {
	color: #f90;
	border-color: #333;
	border-bottom-color: transparent;
}

.btn {
    border-radius: 7px;
}

.tab:first-child {
	margin-left: 20px;
}

.on-dark{
	color: #999;
}

.list-group-item {
	margin-bottom: 5px;
}

.includer {
	position: relative;
}

.top-right {
	position: absolute;
	top: 0px;
	right: 0px;
}

@media screen and (max-width: 768px) {
  	.jumbotron-tab-row {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.tab {
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	    padding: 8px 8px 4px 8px;
	    font-weight: 700;
	    font-size: small;
	    letter-spacing: 1px;
	    margin-bottom: -3px;
	}
	
	.tab:first-child {
		margin-left: 1px;
	}

	.collapse.in {
		display: flex;
	}
}

/*Text*/

/*Forms*/
.form-control{
	border-color: #f90;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(255, 153, 0, 0.6);
}

.inline-checkbox{
	vertical-align: sub;
}

.checkbox-label{
	padding-right: 2px;
	padding-left: 2px;
}

/*Buttons*/
.btn {
    padding: 12px 18px;
    border: 2px solid;
    border-radius: 7px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.btn-primary{
	color: #333;
	background: none;
	border-color: #f90;
}

.btn-primary:hover{
	background: solid;
	background-color: #f90;
	border-color: #f90;
}

.btn-primary:active:focus {
	background: solid;
	background-color: #333;
	border-color: #f90;
}

.btn-block {
    white-space: normal;
}

.btn-add {
	padding: 7px;
	margin-top: 7px;
	font-size: 12px;
}



/*Items*/
.glyphicon{
	
}

.badge-dark{
	color: #333;
	background: #f90;
}

.badge-yes{
	background: #f90;
}

.note{
	position: absolute;
	top: 25px;
	right: 15px;
}

.mana-image {
	height: 50px;
	widith: 50px;
}

.base-wide {
	max-width: 200px;
}

.doubble-base-wide {
	max-width: 400px;	
}

/*Colors*/
.black{
	color: #000;
}

.white{
	color: #FFF;
}

.red{
	color: #F00;
}

.green{
	color: #0F0;
}

.blue{
	color: #00F;
}

.colorless{
	color: #999;
}

.colorframed{
	border: solid;
	border-radius: 7px;
	border-width: 1px;
	/*border-color*/
}

.black-frame{
	border-color: #000;
}

.white-frame{
	border-color: #FFF;
}

.red-frame{
	border-color: #F00;
}

.green-frame{
	border-color: #0F0;
}

.blue-frame{
	border-color: #00F;
}

.colorless-frame{
	border-color: #999;
}

.positive {
	color: #696;
}

.negative {
	color: #ff6347;
}

.main-concern {
	border-color: #f90;
}

.main-theme {
	color: #f90;
}

/*Debug*/
.debug-frame{
	border: 1px solid;
	border-color: #000
}

.debug-text{
	font-size:x-small;
}
