/*Based on three standard sizes where 3x large + margin fit in one row*/
/*Large - 30vw + 1m */
/*Medium - 12vw + 1m => 15 => 2 can fit in the space of one large*/
/*Small - 6vw + 1m => 2 * 2 can fit in the space of one medium*/

/* -Setting- */
body {
    background-color: #171410;
    margin: 0;
    font-family: sans-serif;
    color: #222;
}

a {
	text-decoration-line: none;
}


/* -Tiles- */
/*Layout*/
.tiled {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Style*/
.tile {
    border-width: 0px;
    background-color: orangered;
    color: #171410;
    /*box-shadow: 0 0 0.2vw;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*Default medium size*/
    width: 14vw;
    height: 14vw;
    margin: 1vw;
}

/*Sizes*/
/*Width*/
/* Medium is default*/
.tile-lw {
    width: 30vw;
}

.tile-mw {
    width: 14vw;
}

.tile-sw {
    width: 6vw;
}

.tile-tw {
    width: 3vw;
}

.tile-dotw {
    width: 1vw;
}

.tile-fw {
    width: 96vw;
}

.tile-msw {
    width: 24vw;
}

/*Height*/
/* Medium is default*/
.tile-lh {
    height: 30vw;
}

.tile-mh {
    height: 14vw;
}

.tile-sh {
    height: 6vw;
}

.tile-th {
    height: 3vw;
}

.tile-doth {
    height: 1vw;
}

.tile-lmh {
    height: 44vw;
}

.tile-lsh {
    height: 38vw;
}

.tile-msh {
    height: 24vw;
}



/*Containers*/
.container {
	height: calc(100% + 2vw);
	width: calc(100% + 2vw);
	padding: 1vw;
}

.container-h {
	height: calc(100% + 2vw);
	padding: 0 1vw 0 1vw;
}

.container-w {
	width: calc(100% + 2vw);
	padding: 1vw 0 1vw 0;
}


/*Content types*/
.input {
	text-align: center;
}

.tight-list {
	padding: 0px;
}


/*Text*/
.text {
    font-size: 2em;
    color: #222;
}

/*Sizes*/
/*Medium is default*/
.text-t {
    font-size: 0.5em;
}

.text-s {
    font-size: 1em;
}

.text-l {
    font-size: 4em;
}

@media screen and (max-width: 1000px) {

	.text {
	    font-size: 1.5em;
	}
	
	/*Sizes*/
	.text-t {
	    font-size: 0.4em;
	}
	
	.text-s {
	    font-size: 0.75em;
	}
	
	/* .text-m is default*/  
	
	.text-l {
	    font-size: 3em;
	}
}

@media screen and (max-width: 500px) {

	.text {
	    font-size: 1em;
	}
	
	/*Sizes*/
	.text-t {
	    font-size: 0.3em;
	}
	
	.text-s {
	    font-size: 0.5em;
	}
	
	/* .text-m is default*/  
	
	.text-l {
	    font-size: 2em;
	}
}


/*Flavors*/
.tile-very-positive {
    background-color: #5ee516;
}

.tile-positive {
    background-color:#8ce171;
}

.tile-average {
    background-color: yellow;
}

.tile-negative {
    background-color: #ff6d46;
}

.tile-very-negative {
    background-color: #d73009;
}

.tile-neutral-light {
    background-color: #e7d7b6;
}

.tile-neutral-medium {
    background-color: #a79884;
}

.tile-neutral-dark {
    background-color: #726858;
}

.tile-transparent {
    background-color: transparent;
}

.tile-mana-black {
    background-color: black;
}

.tile-mana-white {
    background-color: white;
}

.tile-mana-red {
    background-color: red;
}

.tile-mana-green {
    background-color: green;
}

.tile-mana-blue {
    background-color: blue;
}

.tile-mana-colorless {
    background-color: gray;
}


/*Colors*/
.very-positive {
    color: #5ee516;
}

.positive {
    color:#8ce171;
}

.average {
    color: yellow;
}

.negative {
    color: #ff6d46;
}

.very-negative {
    color: #d73009;
}

.neutral-light {
    color: #e7d7b6;
}

.neutral-medium {
    color: #a79884;
}

.neutral-dark {
    color: #726858;
}

.mana-black {
    color: black;
}

.mana-white {
    color: white;
}

.mana-red {
    color: red;
}

.mana-green {
    color: green;
}

.mana-blue {
    color: blue;
}

.mana-colorless {
    color: gray;
}


.padded {	
    padding:1vw;
}

.padded-h {	
    padding:1vw 0 1vw 0;
}

.padded-w {
    padding:0 1vw 0 1vw;
}


/* -Content alignment- */
.mss-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mss-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
	flex-wrap: wrap;
}


/* -Rows- */
.content-spaced {
    justify-content: space-between;
}

.content-start {
    justify-content: flex-start;
}

.content-end {
    justify-content: flex-end;
}

.content-center{
    justify-content: center;
}

.content-between{
    justify-content: space-between;
}


/*Independent sizes*/
.auto-w {
    width: auto;
}

.auto-h {
    heigth: auto;
}

.spacer {
	margin: 1vw;
}

.hidden{
	display: none;
}
  
.shown{
	display: inline;
}


/*Overrides*/
button:disabled,
button[disabled]{
  background-color: #eeeeec;
  color: #888a85;
}